.record__wrapper {
    display: flex;
    max-width: 100%;

    .record__date {
        margin-left: 15px;
    }

    .record__distance {
        margin-left: 150px;
        margin-right: 90px;
        width: 55px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .record__actions__wrapper {
        display: flex;
        align-items: center;
        justify-content: center;

        .actions__button {
            height: 24px;
            width: 24px;
            margin: 5px;
            padding: 0px;
            border: none;
            background-color: white;
            cursor: pointer;
        }
    }
}